@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 60, 7.79%, 95.69%;
  --background-dark: 204, 12%, 10.2%;
  --background-light: 206, 22%, 60%;
  --accent: 156, 31.61%, 60.78%;


  /*--foreground-rgb: 0, 0, 0;*/
  /*--background-start-rgb: 214, 219, 220;*/
  /*--background-end-rgb: 255, 255, 255;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 255, 255, 255;*/
    /*--background-start-rgb: 0, 0, 0;*/
    /*--background-end-rgb: 0, 0, 0;*/
  }
}


.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}

.grid-large {
  width: 50%;
  transition: opacity .2s ease-in;
  box-shadow: rgba(255, 255, 255, 0.3 ) 0 0 80px 10px;
}

.grid-small {
  width: 10%;
  opacity: 30%;
  transition: opacity .2s ease-out;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  gap: 5px;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}

.marquee2 span {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}




body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
